$main-color: #2c3e50;
$theme-color: #945281;

table {
  display: inline-table;
  width: auto;
  font-size: 0.8rem;
  border-collapse: collapse;
  text-align: center;

  caption {
    font-weight: bold;
    padding: 10px;
  }
  td,
  th {
    border: 1px solid #ddd;
    height: 2.5rem;
    padding: 0.5rem 1rem;
  }
  th {
    background-color: #eff3f5;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: #f9f9f9;
    }
    &:nth-child(odd) {
      background-color: #fff;
    }
    &:hover {
      background-color: #f0f1f2;
    }
  }
}

hr {
  display: block;
  border: 1px solid #485e7386;
}

em {
  color: black;
}

strong {
  font-weight: bold; // 移动端居然显示 600
}

p {
  color: $main-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: $main-color;
}
h1 {
  text-align: center;
}
code {
  background-color: #f1f1f1;
  padding: 0.15em 0.5em;
  border-radius: 4px;
  color: #4e6e8e;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
  margin-bottom: 5px;
}
blockquote {
  background-color: #f9f9f9;
  border-color: $theme-color !important;
  border-left: 4px solid $theme-color !important;
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}
