$main-color: #2c3e50;
$theme-color: #7d426c;
$dark-bg: #0d1117;

* {
  box-sizing: border-box;
}

@media (min-width: 900px) {
  .has-toc #toc {
    display: block;
  }
  .theme-container.has-toc .page {
    padding-right: 16rem;
  }
}
// 圆角与阴影
@mixin Fish-Box {
  border-radius: 0.5rem;
  box-shadow: 2.9px 4.5px 2.5px -6px rgba(0, 0, 0, 0.05),
    11px 17px 20px -6px rgba(0, 0, 0, 0.1);
}

.tableBox {
  text-align: center;
  margin: 1rem 4rem;
  transition: all ease-in 0.5s;
}

hr {
  display: block;
  border: 1px solid #485e7386;
}

li {
  margin-bottom: 5px;
}

p {
  margin: 1.4rem 0;
  text-indent: 0 !important;
}

strong {
  font-weight: bold; // 移动端居然显示 600
}

h1,
h2,
h3,
h4,
h5 {
  margin: 50px 0 30px;
  font-weight: bold;
  // color: $main-color;
}
h1 {
  text-align: center;
}

h3 {
  padding-bottom: 1rem;
  border-bottom: 2px solid #eaecef;
}
code {
  padding: 0.15em 0.5em;
  border-radius: 4px;
  font-family: 'Fira Code', Consolas;
}

div.h5 {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 2rem 0 1rem 0;
}

blockquote {
  border-color: $theme-color !important;
  border-left: 4px solid $theme-color !important;
  padding-left: 20px;
  & p {
    margin: 0;
  }
}

// 代码块，但居然不是pre，class里也没有类似code或pre……
html[data-theme='light'] .token.class-name {
  text-decoration: none;
}
.line-numbers-mode {
  @include Fish-Box();
  margin: 1.2rem;
  pre {
    background: #282c34;
  }
}

pre {
  font-family: 'Fira Code', Consolas;
}

div.img {
  margin: 1rem 0 2rem;
  & > img {
    width: 40vw;
    background-color: #fff;
    transition: all ease-in-out 300ms;
    @include Fish-Box();
  }
  & p {
    color: #999;
    padding: 0.4rem;
    margin: 0 0 1rem;
  }
}
@media screen and (max-width: 700px) {
  div.img > img {
    width: 70vw;
  }
}

// mermaid 图
div.md-enhance-mermaid {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;

  svg circle {
    fill: #ececff !important;
    stroke: #9370db !important;
  }
}

table {
  @include Fish-Box();
  display: inline-table;
  width: 100%;
  font-size: 0.8rem;
  border-collapse: collapse;
  text-align: center;

  caption {
    font-weight: bold;
    padding: 10px;
  }
  td,
  th {
    border: 1px solid #ddd;
    height: 2.5rem;
    padding: 0.5rem 1rem;
  }
  th {
    background-color: #eff3f5;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: #f9f9f9;
    }
    &:nth-child(odd) {
      background-color: #fff;
    }
    &:hover {
      background-color: #f0f1f2;
    }
  }
}

html[data-theme='dark'] {
  html,
  body {
    background: $dark-bg;
  }
  table {
    tr,
    tr:nth-child(even),
    tr:nth-child(odd) {
      border: 1px solid #30363d;
      background-color: $dark-bg;
    }
    th,
    tr:hover {
      background-color: #161b22;
    }
    td,
    th {
      border: 1px solid #30363d;
    }
  }

  div.md-enhance-mermaid {
    & svg foreignObject {
      color: #000 !important;
    }
  }
}

$scrollbar: #d5d5d5;
body,
html,
.sidebar {
  scrollbar-color: $scrollbar transparent !important;
  scrollbar-width: thin !important;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: $scrollbar;
    border-radius: 4px;
    margin-right: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $scrollbar;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}
