table {
  display: inline-table;
  width: auto;
  font-size: 0.8rem;
  border-collapse: collapse;
  text-align: center;
}
caption {
  font-weight: bold;
  padding: 10px;
}
td,
th {
  border: 1px solid #ddd;
  height: 2.5rem;
  padding: 0.5rem 1rem;
}
th {
  background-color: #eff3f5;
}

tbody tr {
  &:nth-child(even) {
    background-color: #f9f9f9;
  }
  &:nth-child(odd) {
    background-color: #fff;
  }
  &:hover {
    background-color: #f0f1f2;
  }
}

hr {
  display: block;
  border: 1px solid #485e7386;
}

em {
  color: black;
}

p,
h1,
h2,
h3 {
  color: #2c3e50;
}
h1 {
  text-align: center;
}
code {
  background-color: #f1f1f1;
  padding: 0.15em 0.5em;
  border-radius: 4px;
  color: #4e6e8e;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
  margin-bottom: 5px;
}

strong {
  font-weight: bold; // 移动端居然显示 600
}
