$theme-color: #945281;
$code-light-theme: 'atom-dark';

blockquote {
  background-color: #f9f9f9;
  border-color: $theme-color !important;
  border-left: 4px solid $theme-color !important;
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}
